<div class="container">
    <div class="row">
        <div class="col-5 text-center">
            <app-sheet></app-sheet>
        </div>
        <div class="col-5 text-center">
            <app-sheets-list></app-sheets-list>
        </div>
    </div>
</div>