<div class="card mt-5">
    <div class="card-body">
        <form #sheetForm="ngForm" (ngSubmit)="onSubmit(sheetForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="sheetService.selectedSheet.$key">
            <div class="form-group">
                <input type="date" class="form-control" name="fecha" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.fecha" placeholder="Fecha">
                <input type="text" class="form-control" name="Jira" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.Jira" placeholder="Jira">
                <input type="text" class="form-control" name="Cliente" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.Cliente" placeholder="Cliente">
                <textarea class="form-control" name="Angular" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.Angular" placeholder="Angular" rows="5"></textarea>
                <textarea class="form-control" name="Ionic" #name="ngModel" [(ngModel)]="sheetService.selectedSheet.Ionic" placeholder="Ionic" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i>
                </button>
                <button class="btn btn-danger" type="reset" (click)="resetForm(sheetForm)">
                    <i class="fas fa-minus-circle"></i>
                </button>
            </div>
        </form>
    </div>
</div>