<div class="card mt-5">
    <div class="card-body">
        <h6 class="text-center">Lista de Hojas</h6>
        <table class="table table table-bordered table-hover" *ngFor="let sheet of sheetList">
            <thead>
                <th>
                    {{sheet.Jira}}
                    <a class="fas fa-ellipsis-v" data-toggle="collapse" href="#{{sheet.Jira}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    </a>
                </th>
            </thead>
            <tbody class="collapse text-left" id="{{sheet.Jira}}">
                <tr>
                    <td>
                        <tr>
                            <td class="text-danger">fecha:</td>
                            <td class="text-secondary">{{sheet.fecha}}</td>
                        </tr>
                        <tr>
                            <td class="text-danger">Jira:</td>
                            <td class="text-secondary">{{sheet.Jira}}</td>
                        </tr>
                        <tr>
                            <td class="text-danger">Cliente:</td>
                            <td class="text-secondary">{{sheet.Cliente}}</td>
                        </tr>
                        <tr>
                            <td class="text-danger">Angular:</td>
                            <td class="text-secondary">{{sheet.Angular}}</td>
                        </tr>
                        <tr>
                            <td class="text-danger">Ionic:</td>
                            <td class="text-secondary">{{sheet.Ionic}}</td>
                        </tr>
                    </td>
                </tr>
                <tr class="text-center">
                    <button class="far fa-edit bg-success" (click)="onEdit(sheet)">editar</button>
                    <button class="far fa-trash-alt bg-danger" (click)="onDelete(sheet)">eliminar</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>